<!-- container for short statement -->
<div class="container">
<h1>Our Story</h1>
<br>
	<div class="row">
		<div class="col-md-12">

		<div class="col-sm-12 jumbotron">
			<h5>We are members of g16 full stack developer program. This project was created to benefit students of Galvanize, as well as job seekers in the software development industry. Our product comprises of a searchable database containing interview questions from well known tech companies and startups alike. Users can search for relevant interview questions pertaining to their position(s) of interest. They can also choose to contribute to the evolving project by entering new interview questions.</h5>
		</div>
	</div>
</div>

<!-- container for team bio -->
<div class="container">
	<div class="row">
		<div class="col-sm-4 jumbotron text-center">
			<p><b>Arian Flores</b></p>
			<img src="https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/791/card_Screen_Shot_2015-10-30_at_11.08.31_AM.png" width="150" height="100">
			<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
		</div>
		<div class="col-sm-4 jumbotron text-center">
			<p><b>Ashley Nguyen</b></p>
			<img src="https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/786/card_Screen_Shot_2015-10-30_at_11.08.54_AM.png" width="150" height="100">
			<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
		</div>
		<div class="col-sm-4 jumbotron text-center">
			<p><b>Halah AlShaikhly</b></p>
			<img src="https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/752/card_Screen_Shot_2015-10-30_at_11.11.13_AM.png" width="150" height="100">
			<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 jumbotron text-center">
			<p><b>Jess Yang</b></p>
			<img src="https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/753/card_Screen_Shot_2015-10-30_at_11.11.33_AM.png" width="150" height="100">
			<p>I enjoy working with front end elements of web development. I get most of my design inspiration from my immediate surroundings. This might include the local scenary, residential houses, their colors and shapes.</p>
		</div>
		<div class="col-sm-4 jumbotron text-center">
			<p><b>Jonathan Harlem</b></p>
			<img src="https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/765/card_Screen_Shot_2015-10-30_at_11.12.14_AM.png" width="150" height="100">
			<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
		</div>
	</div>
</div>
</div>
