<!DOCTYPE html>
<html ng-app='codequest'>
  <head>
    <meta charset="utf-8">
    <title>CodeQuest</title>
    <!-- AngularJS source -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
     <!-- insert bootsrap and jQuery here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" charset="utf-8"></script>
    <script rel='text/javascripts'  src="/client/css/bootstrap/js/bootstrap.js"></script>
  </head>
  <body>
    <body>

    <div ng-view>

    </div>
    <!-- insert scripts here -->
    <script src="/client/app.js"></script>
    <script src="/client/js/controllers.js"></script>
    <script src="/client/js/services.js"></script>
    <script src="/client/js/filters.js"></script>
    <script src="/client/js/directives.js"></script>
  </body>
</html>
