<!DOCTYPE html>
<html ng-app='codequest'>

<head>
    <meta charset="utf-8">
    <title>CodeQuest</title>
    <!-- AngularJS source -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
    
     <!--  bootsrap and jQuery here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

</head>

<body>
  <!-- navbar  -->
    <nav class="navbar navbar-inverse" ng-controller="NavbarController">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CodeQuest</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!isAuthenticated()"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li ng-if="!isAuthenticated()"><a href="/#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li ng-if="isAuthenticated()"><a href="/#/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>

    <!-- ng-view -->
    <div ng-view>
    </div>

    <!--  scripts here -->
    <script src="//cdn.jsdelivr.net/satellizer/0.13.4/satellizer.min.js"></script>
    <script src="/client/app.js"></script>
    <script src="/client/js/controllers.js"></script>
    <script src="/client/js/services.js"></script>
    <script src="/client/js/filters.js"></script>
    <script src="/client/js/directives.js"></script>
</body>
</html>
